.centro{
  width: 1600px;
}
fondo{
  background-color: #fab633;
}

.badge-light{
  background-color: #f2f2f2;
  color: black;
  border-radius: 0;
  text-decoration: none;
}
.badge-success{
  background-color: #84da7c;
  color: whitesmoke;
  border-radius: 0;
  text-decoration: none;
}

.tarjeta{
  background-color: #f8f8f8;
}
