<div class="row justify-content-center" id="padre">
  <div class="col left-banner" id="izquierdaBanner" >


    <p>galleta</p>
  </div>
  <div class="col right-side">

<div id="padreDerecha">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Identificador de usuario o email</label>
      <input type="email" class="form-control" placeholder="Introduce tu identificador" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" placeholder="Introduce tu contraseña" id="exampleInputPassword1">
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary bt-naranja" >Entrar</button>
    </div>
    <div class="d-flex flex-row-reverse">
      <a href="#" class="link">Olvidé la contraseña </a>
    </div>
    <hr>


    <div class="d-grid gap-2">
      <p class="fw-bold mb-0 p-0">¿Todavia no eres usuario?</p>

      <p class="fw-light mt-0 p-0">Crea tu cuenta con tu direccion email</p>
      <button type="submit" class="btn btn-primary bt-azul" >Crear mi cuenta ahora.</button>
    </div>

   </form>
</div>

    <p>bicicleta</p>
  </div>

</div>
